@use 'base/mixins' as m;
@use 'base/variables' as v;

.contact {
    padding: 4rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;

        @include m.phone {
            grid-template-columns: 1fr;
        }
    }

    &__form-title {
        text-align: center;
    }
}