@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero-contenedores {
    position: relative;
    width: 100%;
    height: calc(100vh - 14rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: v.$white;


    // Imagen de fondo
    background: url('../img/contenedores.avif') no-repeat bottom center/cover;

    @supports (background-image: url('../img/contenedores.avif')) {
        background-image: url('../img/contenedores.avif');
    }

    @supports not (background-image: url('../img/contenedores.avif')) {
        background-image: url('../img/contenedores.webp');
    }

    @supports not (background-image: url('../img/contenedores.webp')) {
        background-image: url('../img/contenedores.jpg');
    }
}

