@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero-remolques {
    position: relative;
    width: 100%;
    height: calc(100vh - 14rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: v.$white;


    // Imagen de fondo
    background: url('../img/remolques-11.avif') no-repeat center center/cover;

    @supports (background-image: url('../img/trailas-11.avif')) {
        background-image: url('../img/trailas-11.avif');
    }

    @supports not (background-image: url('../img/trailas-11.avif')) {
        background-image: url('../img/trailas-11.webp');
    }

    @supports not (background-image: url('../img/trailas-11.webp')) {
        background-image: url('../img/trailas-11.jpg');
    }
}

