<footer class="footer" id="footer">
    <div class="footer__content">
        <div class="footer__column footer__column--info">


            <div class="footer__logo-container">
                <img src="./img/logo.png" alt="logo" class="footer__logo">
                

                <div class="footer__title-container">
                    <p class="footer__title">Patronato del Heroico Cuerpo de Bomberos A.C.</p>
                    <p class="footer__subtitle">Ciudad Cuauhtémoc</p>
                </div>
            </div>

            
            
            <p class="footer__text">
                Comprometidos con la seguridad y bienestar de nuestra comunidad las 24hrs del día, los 365 días del año.
            </p>
        </div>

        <div class="footer__column footer__column--links">
            <h3 class="footer__heading">Enlaces Rápidos</h3>
            <ul class="footer__nav-list">
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Inicio</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Nosotros</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Actividades</a>
                </li>
                <li class="footer__nav-item">
                    <a href="#" class="footer__nav-link">Contacto</a>
                </li>
            </ul>
        </div>

        <div class="footer__column footer__column--emergency">
            <h3 class="footer__heading">Emergencias</h3>
            <p class="footer__emergency-label">Línea de Emergencia:</p>
            <p class="footer__emergency-number">911</p>
            <p class="footer__emergency-availability">Disponible 24/7</p>
        </div>
    </div>

    <div class="footer__line"></div>

    <div class="footer__copyright" data-section="footer" data-value="text" >
        Patronato de Heróico Cuerpo de Bomberos de la Ciudad Cuauhtémoc © <span id="year"></span> - Todos los derechos reservados  
    </div>
</footer>

