<!-- ======= nav Desktop ======= -->
<nav class="nav">  
    <div class="nav__logo">
        <a href="index.html#home" class="nav__logo-link">
            <img src="./img/logo.png" alt="Logo" class="nav__logo-img">
        </a>
    </div>

    <ul class="nav__links">
        <li class="nav__links-item"><a href="index.html#home" class="nav__links-link" data-section="nav" data-value="home">Inicio</a></li>
        <li class="nav__links-item"><a href="index.html#nosotros" class="nav__links-link" data-section="nav" data-value="about">Nosotros</a></li>
        <li class="nav__links-item nav__links-dropdown">
            <a href="index.html#productos" class="nav__links-link" data-section="nav" data-value="products">
                Productos <i class="bi bi-caret-down-fill"></i>
            </a>
            <ul class="nav__dropdown-menu">
                <li><a href="oficinas-moviles.html" data-section="nav" data-value="products1">Oficinas Móviles</a></li>
                <li><a href="dormitorios-moviles.html" data-section="nav" data-value="products2">Dormitorios Móviles</a></li>
                <li><a href="edificios-prefabricados.html" data-section="nav" data-value="products3">Edificios Prefabricados</a></li>
                <li><a href="contenedores.html" data-section="nav" data-value="products4">Contenedores</a></li>
                <li><a href="remolques.html" data-section="nav" data-value="products5">Remolques</a></li>
            </ul>
        </li>
        
        <li class="nav__links-item"><a href="index.html#testimoniales" class="nav__links-link" data-section="nav" data-value="testimonials">Reseñas</a></li>
        <li class="nav__links-item"><a href="index.html#contacto" class="nav__links-link" data-section="nav" data-value="contact">Contacto</a></li>
    </ul>

    <a href="index.html#contacto" class="nav__button" data-section="nav" data-value="cta">
        ¡Estimación GRATIS!

        <i class="bi bi-arrow-right"></i>
    </a>
</nav> 

<!-- ======= nav Mobile ======= -->
<div class="navM">
    <div class="navM__data">
        <a class="navM__logo" href="index.html#home">
            <img class="navM__logo-img" src="./img/logo.png" alt="logo">
        </a>

        <div class="navM__toggle" id="navM-toggle">
            <i class="fa-solid fa-bars navM__burger"></i>
            <i class="fa-solid fa-x navM__close"></i>
        </div>
    </div>

    <!-- ======= NAV MENU ======= -->
    <nav class="navM__menu" id="navM-menu">
        <ul class="navM__list">
            <li class="navM__item">
                <a href="index.html#home" class="navM__link" data-section="nav" data-value="home">Inicio</a>
            </li>

            <li class="navM__item">
                <a href="index.html#nosotros" class="navM__link" data-section="nav" data-value="about">Nosotros</a>
            </li>

            <li class="navM__item navM__dropdown">
                <button class="navM__link navM__dropdown-toggle" data-section="nav" data-value="products">
                    Productos <i class="fa-solid fa-caret-down"></i>
                </button>
                <ul class="navM__dropdown-menu">
                    <li><a href="oficinas-moviles.html" class="navM__link" data-section="nav" data-value="products1">Oficinas Móviles</a></li>
                    <li><a href="dormitorios-moviles.html" class="navM__link" data-section="nav" data-value="products2">Dormitorios Móviles</a></li>
                    <li><a href="edificios-prefabricados.html" class="navM__link" data-section="nav" data-value="products3">Edificios Prefabricados</a></li>
                    <li><a href="contenedores.html" class="navM__link" data-section="nav" data-value="products4">Contenedores</a></li>
                    <li><a href="remolques.html" class="navM__link" data-section="nav" data-value="products5">Remolques</a></li>
                </ul>
            </li>

            <li class="navM__item">
                <a href="index.html#testimoniales" class="navM__link" data-section="nav" data-value="testimonials">Reseñas</a>
            </li>

            <li class="navM__item">
                <a href="index.html#contacto" class="navM__link" data-section="nav" data-value="contact">Contacto</a>
            </li>

            <li class="navM__item">
                <a href="index.html#home" target="_blank" class="navM__link">
                    <i class="fa-brands fa-facebook navM__icon"></i>
                </a>

                <a href="index.html#home" target="_blank" class="navM__link">
                    <i class="fa-brands fa-instagram navM__icon"></i>
                </a>
            </li>
        </ul>

        
    </nav>
</div>