<!-- ==== boton whatsapp ==== -->
<a
  href="https://wa.me/526142396563?text=Hola%20Patronato%20de%20Bomberos,%20solicito%20informaci%C3%B3n."
  class="whatsapp-button"
  target="_blank"
  rel="noopener noreferrer"
  title="Enviar mensaje por WhatsApp"
  aria-label="Enviar mensaje por WhatsApp"
>
  <i class="fab fa-whatsapp" aria-hidden="true"></i>
</a>

<!-- ==== main JS ==== -->
<script src="./js/app.js"></script>

<!-- ==== FontAwesome ==== -->
<script src="https://kit.fontawesome.com/09c3aa2d96.js" crossorigin="anonymous"></script>